* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --clr: #222327;
}

.titulo {
    display: block;
    height: 100px;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    font-size: 3em;
    align-items: center;
    border-bottom: 5px red solid;
}

.titulo-a {
    padding-top: 20px;
}

main {
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    flex-direction: column;
}


/*
//----------------------------------------------------------------------
                                TITULO PROYECTO
//----------------------------------------------------------------------
*/
.tituloProyecto {
    font-size: 1.5rem;
    background: #111;
    color: #fff;
    width: 400px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}


/*
//----------------------------------------------------------------------
                                NAVEGADOR 1
//----------------------------------------------------------------------
*/


.navegador1 {
    width: 400px;
    height: 200px;
    padding-top: 50px;
    position: relative;
}

.navegadorHome {
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: white;

}

.navegadorHome ul {
    display: flex;
    width: 400px;
}

.navegadorHome ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navegadorHome ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navegadorHome ul li a .icono {
    position: relative;
    display: block;
    line-height: 75px;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: 0.5s;
    color: var(--clr)
}

.navegadorHome ul li.active a .icono {
    transform: translateY(-30px);
}

.navegadorHome ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
}

.navegadorHome ul li.active a .text {
    opacity: 1;
    transform: translateY(45px);
}

.indicador {
    position: absolute;
    top: 15px;
    width: 70px;
    height: 70px;
    background: #d90429;
    border-radius: 50%;
    border: 6px solid #e0e0e0;
    transition: 0.5s;
}

.indicador::before {
    content: "";
    position: absolute;
    top: 44%;
    left: -24px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 #e0e0e0;
}

.indicador::after {
    content: "";
    position: absolute;
    top: 44%;
    right: -24px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 #e0e0e0;
}

.navegadorHome ul li:nth-child(1).active~.indicador {
    transform: translateX(calc(70px * 0));
}

.navegadorHome ul li:nth-child(2).active~.indicador {
    transform: translateX(calc(70px * 1));
}

.navegadorHome ul li:nth-child(3).active~.indicador {
    transform: translateX(calc(70px * 2));
}

.navegadorHome ul li:nth-child(4).active~.indicador {
    transform: translateX(calc(70px * 3));
}

.navegadorHome ul li:nth-child(5).active~.indicador {
    transform: translateX(calc(70px * 4));
}

/*
//----------------------------------------------------------------------
                                NAVEGADOR 2
//----------------------------------------------------------------------
*/

.navegador2 {
    width: 400px;
    height: 200px;
    padding-top: 50px;
    background: #c2c1c1;
}

.navegadorDropdown {
    /* Para ponerlo arriba la derecha
    position: fixed;
    top: 20px;
    right: 20px;
    */
    width: 120px;
    height: 60px;
    background: #fff;
    /*para ponerlo bien en el recuadro*/
    position: relative;
    left: 50px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    transition: height .5s, width .5s;
    transition-delay: 0s, .75s;
    overflow: hidden;
}

.navegadorDropdown.active {
    width: 300px;
    left: 50px;
    height: 400px;
    transition: width .5s, height .5s;
    transition-delay: 0s, .75s;
}

.navegadorDropdown .userBox {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: .5s;
    transition-delay: .5s;
}

.navegadorDropdown.active .userBox {
    width: calc(100% - 60px);
    transition-delay: 0s;

}

.navegadorDropdown .userBox .imgBox {
    position: relative;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
    background: #000;
    border-radius: 50%;
    border: 10px solid #fff;
}

.navegadorDropdown .userBox .nombreUsuario {
    white-space: nowrap;
    color: #555;
    font-size: 1.4rem;
    align-self: center;
    margin-bottom: 0;
}

.navegadorDropdown .userBox .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navegadorDropdown .menuDropdown {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegadorDropdown .menuDropdown::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: .5s;
}

.navegadorDropdown .menuDropdown::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: .5s;
}

.navegadorDropdown.active .menuDropdown::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
}

.navegadorDropdown.active .menuDropdown::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 #555;
}

.menuDropdownNavegador2 {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.menuDropdownNavegador2 li {
    list-style: none;
}

.menuDropdownNavegador2 li a {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 1em;
    gap: 10px;
    text-decoration: none;
    color: #555;
}

.menuDropdownNavegador2 li a:hover {
    color: #4e65ff;
}

.menuDropdownNavegador2 li a svg {
    width: 22px;
    height: 22px;
}

/*
//----------------------------------------------------------------------
                                SISTEMA DE RESERVAS
//----------------------------------------------------------------------
*/
.paginas {
    width: 400px;
}

.reservas {
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 40px 0px;

}

.reservas .btnIR {
    background: #d90429;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reservas .btnIR1 {
    color: #fff;
    text-decoration-line: none;
}

.reservas .btnIR1 svg {
    width: 30px;
    height: 30px;
    border: 3px red solid;
    border-radius: 50%;
}

.sistemaReservas {
    font-size: 1.5em;
    padding-left: 25px;
}


.footer {
    width: 100%;
    height: 100px;
    background-color: #555;
    color: #c2c1c1;
    text-align: center;
}

/*
//----------------------------------------------------------------------
                                pagina reservas (home)
//----------------------------------------------------------------------
*/

html {
    scroll-behavior: smooth;
}

.bodyReservas {
    background: #262626;
}

.bodyReservas .container {
    position: relative;
    width: 100%;
}

.bodyReservas .container section {
    position: relative;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
}

.bodyReservas .container section:nth-of-type(2n+1) {
    background: #fcfbf9;
}

.bodyReservas .container section:nth-of-type(2n) {
    background: #f8f6f1;
}

.bodyReservas .container section h1 {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
}

.bodyReservas .container ul {
    position: fixed;
    top: 0;
    left: 0;
    background: #262626;
    width: 100%;
    height: 60px;
    z-index: 10;
}

.bodyReservas .container ul li {
    list-style: none;
    width: calc(100% / 5);
    height: 100%;
    float: left;
}

.bodyReservas .container ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.bodyReservas .container ul li a:hover {
    background: #ff5722;

}

.bodyReservas .volver {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.bodyReservas svg {
    color: #000;
}


/*
//----------------------------------------------------------------------
                                pagina sticky
//----------------------------------------------------------------------
*/


.bodySticky {
    display: flex;
    background: #f2eee3;
}

.bodySticky .example {
    width: 100%;
}

.bodySticky .content {
    background: #cdcac6;
    height: 300px;
    margin: 1em;
}

.bodySticky .content.one {
    height: 100px;
}

.bodySticky .box {
    width: 300px;
    height: 100px;
    background: #dd9933;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.bodySticky .fixed {
    position: fixed;
    top: 24px;
    left: 24px;
}

.bodySticky .sticky {
    position: sticky;
    margin: 16px;
    top: 25px;
}

.bodySticky .volver {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.bodySticky svg {
    color: #000;
}


/*
//----------------------------------------------------------------------
                                pagina Responsive
//----------------------------------------------------------------------
*/

.holy-grail {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: #F2EEE3;
}

.holy-grail header,
.holy-grail footer,
.hg-sidebar,
.holy-grail-content {
    padding: 20px;
}

.holy-grail header,
.holy-grail footer {
    background: #F34A4E;
}

.hg-sidebar {
    background: blue;
}

.holy-grail-content {
    color: #777;
}

.holy-grail {
    min-height: 100vh;
}

.holy-grail,
.holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.holy-grail-content {
    flex: 1 1 auto;
}

@media (min-width: 768px) {
    .holy-grail-sidebar-1 {
        order: -1;
    }

    .holy-grail-body {
        flex-direction: row;
    }

    .hg-sidebar {
        flex: 0 0 260px;
    }
}

.holy-grail .volver {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.holy-grail svg {
    color: #000;
}


/*
//----------------------------------------------------------------------
                                pagina Responsive
//----------------------------------------------------------------------
*/

.bodyLogin {
    height: 100%;
    overflow: hidden;
    width: 100% !important;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #f2eee3;
  }
  
  
  
  .bodyLogin .backRight {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #f2eee3 url(https://forums.macrumors.com/attachments/monterey-mac-jpg.1788406/);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .bodyLogin .backLeft {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #e74c3c url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-gMX5fS_rUqg%2FXfLBGokAzAI%2FAAAAAAAAjEY%2Fqs-2a28y3g4ruhktycDX2ApIUhhh01WMgCLcBGAsYHQ%2Fs2560%2Fmacos-mojave-dusk-mode-stock-el-2560x1440.jpg&f=1&nofb=1);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .bodyLogin #back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
  }
  
  .bodyLogin #slideBox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .bodyLogin .topLayer {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
  }
  
  .bodyLogin .left {
    width: 50%;
    height: 100%;
    background: #2C3034;
    left: 0;
    position: absolute;
  }
  
  .bodyLogin .right {
    width: 50%;
    height: 100%;
    background: #f2eee3;
    right: 0;
    position: absolute;
  }
  
  .bodyLogin .content {
    width: 250px;
    margin: 0 auto;
    top: 30%;
    position: absolute;
    left: 50%;
    margin-left: -125px;
  }
  
  .bodyLogin .content h2 {
    color: #03A9F4;
    font-weight: 300;
    font-size: 35px;
  }
  
  .bodyLogin button {
    background: #03A9F4;
    padding: 10px 16px;
    width: auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    margin: 15px 15px 15px 0;
    transition: all 0.25s;
  }
  
  .bodyLogin button:hover {
    background: #0288D1;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .bodyLogin .off {
    background: none;
    color: #03A9F4;
    box-shadow: none;
  }
  
  .bodyLogin .right .off:hover {
    background: #eee;
    color: #03A9F4;
    box-shadow: none;
  }
  
  .bodyLogin .left .off:hover {
    box-shadow: none;
    color: #03A9F4;
    background: #363A3D;
  }
  
  .bodyLogin input {
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #45494C;
    font-size: 14px;
    color: #959595;
    padding: 8px 0;
    margin-top: 20px;
  }
  
  .bodyLogin .volver {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  
  }
  
  .bodyLogin svg {
    color: #000;
  }


  
/*
//----------------------------------------------------------------------
                                pagina Gradient
//----------------------------------------------------------------------
*/

  .bodyGradient {
	background: linear-gradient(-45deg, #F2EEE3, #E9D1D0, #FAE0BA, #EB8C73, #F0DED1, #DEC4A7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bodyGradient h1 {
    text-align: center;
    color: #EB8C73;
}

.bodyGradient .volver{
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	right: 20px;

}

.bodyGradient svg{
	color: #000;
}

/*
//----------------------------------------------------------------------
                                pagina Tarjeta
//----------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.bodyCard
{
    font-family: 'Roboto', sans-serif;
  background-color: #f2eee3;
}
.bodyCard a
{
    text-decoration: none;
}
.bodyCard .product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.bodyCard .badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.bodyCard .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.bodyCard .product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.bodyCard .product-details {
    padding: 30px;
}

.bodyCard .product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.bodyCard .product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.bodyCard .product-details h4 a:hover {
    color: red;
}

.bodyCard .product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.bodyCard .product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.bodyCard .product-bottom-details div {
    float: left;
    width: 50%;
}

.bodyCard .product-price {
    font-size: 18px;
    color: red;
    font-weight: 600;
}

.bodyCard .product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.bodyCard .product-links {
    text-align: right;
}

.bodyCard .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.bodyCard .product-links a:hover {
    color: red;
}

.bodyCard .volver{
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	right: 20px;

}

.bodyCard svg{
	color: #000;
}